* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: tan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

h1 {
    color: green;
}

header,
footer,
main {
    padding: 2rem;
}

main {
    background-color: #ffffff;
    width: 450px;
}

.rate {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rate input {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.rate label {
    margin-bottom: .5rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1.5rem;
}

input,
button {
    padding: 10px 45px;
}

label {
    margin-bottom: .5rem;
}

button {
    cursor: pointer;
    outline: none;
    border: 2px solid tan;
    background: transparent;
}