* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

fieldset {
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

input[type="submit"] {
    margin-top: 15px;
}