* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    background-color: #ADD8E6;
    line-height: 1.6;
}


a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

figure {
    overflow: hidden;
    border-radius: 15px;
    height: auto;
    width: fit-content;
}

img {
    display: block;
    object-fit: cover;
}

input,
textarea,
button {
    outline: none;
    padding: 5px 45px;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 2.5px;
    border: 2px salmon solid;
}

input {
    height: 35px;
}

button {
    height: 40px;
}

/* Box model */
body {
    margin: 1.5rem;
    padding: .5rem;
}

header, section {
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Layout */
.thomas {
    display: flex;
}

.about {
    display: flex;
}