* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    background-color: #ADD8E6;
    line-height: 1.6;
}


a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

figure {
    overflow: hidden;
    border-radius: 15px;
    height: auto;
    width: fit-content;
}

img {
    display: block;
    object-fit: cover;
}

input,
textarea,
button {
    outline: none;
    padding: 5px 45px;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 2.5px;
    border: 2px salmon solid;
}

input {
    height: 35px;
}

button {
    height: 40px;
}

a,
h1,
h2,
h3 {
    color: rgb(252, 111, 95);
}

a:hover {
    color: rgb(252, 111, 95);
    transition: all 1s ease-out;
}

p,
li,
td,
button {
    color: rgb(74, 73, 73);
}

/* Box model */
body {
    margin: 1.5rem;
    padding: .5rem;
}

header,
section {
    padding: 1rem;
    margin-bottom: 1rem;
}

header {
    text-align: center;
}

/* Layout */
.thomas {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.thomas p {
    width: 350px;
    margin: auto;
}

.about {
    display: flex;
    width: 75%;
    margin: auto;
}

.about h3,
h2 {
    margin-bottom: 15px;
}

.feedback {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.feedback input {
    width: 100%;
}