* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    height: 340px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
}

body {
    background-color: #FFFFFF;
    line-height: 1.6;
}

header {
    background-color: #6500B6;
    padding: 2.5rem;
}

header a {
    color: #CCADE1;
}

.nav--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact a {
    font-weight: 600;
}

.contact :nth-child(1) {
    font-size: 32px;
}

.nav ul {
    display: flex;
    gap: 50px;
}

.nav ul a {
    font-weight: 600;
    font-size: 18px;
}

/* End of header */

main {
    margin: 2.5rem;
}

.about--section {
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
    justify-content: space-evenly;
}

.about {
    width: 50%;
}

.about>div h1 {
    font-size: 64px;
    margin-bottom: 1rem;
    color: #6501B4;
}

.about div:nth-child(2) {
    font-size: 24px;
    color: #616060;
    font-weight: 500;
}