* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: rgb(163, 165, 168);
}

header,
main,
footer {
    background-color: #ffffff;
}