* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: rgb(163, 165, 168);
}

header,
main,
footer {
    background-color: #ffffff;
    width: 450px;
    border-radius: 15px;
    background-color: blueviolet;
    color: #ffffff;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: .5rem;
}

section p:nth-child(3) {
    margin-bottom: 1rem;
}

section p:nth-child(1) {
    margin-bottom: .5rem;
}

input, button {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    text-align: center;
    outline: none;
    color: blueviolet;
}

input {
    font-size: 24px;
    margin-bottom: 1rem;
}

input:focus,
input:active {
    outline: 2px solid gray;
}

button {
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    border-radius: 2.5px;
}

footer, header {
    padding: 1rem 0;
}

