* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: aliceblue;
}

h2 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input:not(.buttons input) {
    margin-bottom: 1.5rem;
    padding: 8px 45px;
    width: 300px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons input {
    padding: 10px 45px;
    width: 48%
}